bin/
*/bin/
**/bin/
.vs/
*/.vs/
**/.vs/
obj/
*/obj/
**/obj/
deploy/lib/
**/deploy/lib/
*/deploy/lib/
package-lock.json
*/package-lock.json
node_modules/
*/node_modules/
**/node_modules/
.idea/
*.idea/
.iml
*.iml
.DS_Store
*.DS_Store
*.project
*.classpath
*.class
*.settings/
*/target/
target/
logs/
*/logs/

ezyfox-chat-client/.idea/
ezyfox-chat-client/output/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
chat-auth-consumer/
chat-fileupload/
ezyfox-auth-plugin/
ezyfox-chat/
ezyfox-chat-client/
ezyfox-simple-chat/
ezyfox-videopoker-example/
logs/
*/logs/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
